@import '../../../styles/variables/breakpoints.scss';

.nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  list-style: none;
  overflow-y: hidden;
  overflow-x: hidden;
  transform: translate(-100px);

  &.nav-visible {
    transform: translate(0);
  }
}

/* Desktop styles */
@media (min-width: $desktop-min-width) {
  .nav {
    position: relative;
    transform: translate(0);
  }
}
