<form class="registration-form" #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
  <div class="mb-3">
    <label for="companyName" class="form-label" i18n>Company name</label>
    <input type="text"
           class="form-control"
           id="companyName"
           name="companyName"
           [(ngModel)]="user.companyName"
           #companyName="ngModel"
           required>
    <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)">
      <span class="">{{ getError(companyName.errors) }}</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label" i18n>User name</label>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           [(ngModel)]="user.name"
           #userName="ngModel"
           required>
    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
      <span class="">{{ getError(userName.errors) }}</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email"
           class="form-control"
           id="email"
           name="email"
           [(ngModel)]="user.email"
           #userEmail="ngModel"
           required>
    <div class="form-text" *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
      <span>{{ getError(userEmail.errors) }}</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label" i18n>Password</label>
    <input type="password"
           class="form-control"
           id="password"
           name="password"
           [(ngModel)]="user.password"
           #userPassword="ngModel"
           required>
  </div>
  <div class="form-text" *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)">
    <span>{{ getError(userPassword.errors) }}</span>
  </div>
  <button mat-raised-button color="primary" i18n>Register</button>
</form>
