<header
  class="page-header p-2 d-flex justify-content-between align-items-center text-white"
>
  <div class="d-flex align-items-center text-white">
    <button
      mat-icon-button
      class="main-nav-toggle-button"
      (click)="toggleMenu.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a class="ms-2" routerLink="/">{{ companyName$ | async }}</a>
  </div>

  <div class="d-flex align-items-center" *ngIf="isAuth$ | async">
    <span class="profile">
      {{ userName$ | async }}
      <button mat-icon-button class="mobile-button">
        <mat-icon>person</mat-icon>
      </button>
    </span>
    <button
      mat-flat-button
      color="basic"
      class="ms-3 desktop-button"
      (click)="logout()"
    >
      Вийти
    </button>
    <button mat-icon-button class="mobile-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</header>

