<app-tabs [tabs]="tabs" [activeTab]="activeTab" (onTabChange)="changeTab($event)"></app-tabs>

<ng-container *ngIf="isTasksLoading$ | async; else showTasksList">
  <div class="bg-white p-2">
    <span>Loading...</span>
  </div>
</ng-container>

<ng-template #showTasksList>
  <div *ngIf="activeTab === 'all'">
    <div class="actions-panel">
      <app-button buttonText="Add" buttonStyles="btn-success" iconName="plus" (click)="goToAddTaskPage()"></app-button>
    </div>
    <ng-container *ngIf="(allTasks$ | async)?.length; else emptyList">
      <app-task-card *ngFor="let task of allTasks$ | async; trackBy: myTrackingFn" [task]="task"></app-task-card>
    </ng-container>
  </div>
    <div *ngIf="activeTab === 'todo'">
      <div class="actions-panel">
        <app-button buttonText="Add" buttonStyles="btn-success" iconName="plus" (click)="goToAddTaskPage()"></app-button>
      </div>
      <ng-container *ngIf="(todoTasks$ | async)?.length; else emptyList">
        <app-task-card *ngFor="let task of todoTasks$ | async; trackBy: myTrackingFn" [task]="task"></app-task-card>
      </ng-container>
    </div>
    <div *ngIf="activeTab === 'done'">
      <ng-container *ngIf="(doneTasks$ | async)?.length; else emptyList">
        <app-task-card *ngFor="let task of doneTasks$ | async; trackBy: myTrackingFn" [task]="task"></app-task-card>
      </ng-container>
    </div>
  <ng-template #emptyList>
    <div class="bg-white p-2">
      <span>Your tasks list is empty.</span>
    </div>
  </ng-template>
</ng-template>
