<form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email"
           class="form-control"
           id="email"
           name="email"
           [(ngModel)]="user.email"
           #userEmail="ngModel"
           required>
    <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
      <span class="">{{ getError(userEmail.errors) }}</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           name="password"
           [(ngModel)]="user.password"
           #userPassword="ngModel"
           required>
  </div>
  <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)">
    <span class="">{{ getError(userPassword.errors) }}</span>
  </div>
  <app-button buttonStyles="btn-primary" buttonText="Login"></app-button>
</form>
