input,
textarea {
  &.ng-touched.ng-invalid {
    border-color: $color-red;
  }
}

.actions-panel {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.desktop-button {
  display: none !important;
}

.green-raised-button:not(:disabled) {
  background-color: #008000 !important;
  color: #ffffff !important;
}

.green-icon {
  color: #008000;
}

/* Tablet styles */
@media (min-width: $tablet-min-width) {
}

/* Desktop styles */
@media (min-width: $desktop-min-width) {
  .mobile-button {
    display: none !important;
  }

  .desktop-button {
    display: block !important;
  }
}
